html, body{
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}
#camera, #video, #canvas{
    position: fixed;
    height: auto;
    width: 100%;
    /* object-fit: cover; */
    object-fit: contain;
}
#video, #canvas{
    transform: scaleX(1);
    /* filter: FlipH; */
}

#test--image{
    width: 400px;
    background-color: none;
    color: none;
    font-size: none;
    border-radius: none;
    border: none;
    padding: none;
    text-align: center;
    box-shadow: none;
    /* position: fixed; */
    transform: rotate(0.5turn);
    /* bottom: 60px; */
    /* left: calc(50% - 200px); */
}